@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import '/styles/homePage.css';
@import '/styles/releasesPage.css';
@import '/styles/contactPage.css';
@import '/styles/loginPage.css';
@import '/styles/artists.css';
@import '/styles/detailsPage.css';
@import '/styles/editPage.css';
@import '/styles/creativesPage.css';
@import '/styles/blogPage.css';
@import '/styles/detailsBlogPage.css';
@import '/styles/editBlogPage.css';
@import '/styles/showsPage.css';
html {
    background-color: black;
    box-sizing: border-box;
    color: rgb(156, 153, 153);
    font-family: 'Oswald', sans-serif;
    width: 100%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.authButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.authButtons #logout,
.authButtons #adminPanel {
    width: 100px;
    margin-top: 5px;
    padding: 5px 0px 5px 0px;
    font-family: inherit;
    font-size: 10px;
    background: transparent;
    border: none;
    color: white;
    font-weight: 700;
}

.authButtons a {
    text-decoration: none;
}

#logout:hover,
#adminPanel:hover {
    cursor: pointer;
    color: rgb(100, 23, 100);
}

.headerNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.headerNav div a {
    text-decoration: none;
}

.headerNav h1 {
    font-size: 32px;
    cursor: default;
    margin-left: 30px;
}

.headerNav .navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.headerNav div li {
    list-style-type: none;
    padding: 0px 15px 0px 15px;
    text-transform: uppercase;
    color: rgb(156, 153, 153);
    font-size: 14px;
    font-weight: 800;
    transition: 0.6s;
}

.headerNav div li:hover {
    transform: scale(1.1);
    transition: 0.6s;
    cursor: pointer;
    color: white;
}

.headerNav .logo {
    width: 100px;
    height: 120px;
    transition: 0.6s;
}

.headerNav .logo:hover {
    transform: scale(1.2);
    transition: 0.6s;
    cursor: pointer;
}


/* ########################## header end ######################### */

main {
    height: auto;
}


/* ################# footer ################ */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soundWeave {
    margin-top: 50px;
    height: 30px;
    width: 300px;
}

.social {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social .fab {
    margin-right: 15px;
    color: white;
    transition: 0.5s;
}

.footer .social .fab:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.5s;
}

.footer p img {
    width: 15px;
    height: 15px;
}

.copyright {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.admin {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    color: darkgray;
}

.mobileLogo {
    display: none;
}

.navWrapperMobile {
    display: none;
}

.admin:hover {
    color: white;
}

.mobileNav {
    display: none;
}

.navWrapperMobile {
    display: none;
}

@media screen and (max-width:750px) {
    html {
        width: 100vw;
    }
    header {
        width: 100%;
        position: relative;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .headerNav {
        display: none;
    }
    .mobileNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: -100px;
        width: 90%;
        background: black;
        margin-top: 100px;
        z-index: 3;
    }
    .navWrapper a {
        display: none;
    }
    .mobileLogo {
        display: block;
        width: 70px;
        height: 80px;
        transition: 0.6s;
    }
    .navWrapperMobile {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 5px;
        right: -610px;
        background: black;
        z-index: 100;
    }
    .fa-times {
        position: relative;
        top: -190px;
        right: 10px;
        font-size: 22px;
    }
    .fa-times:hover {
        cursor: pointer;
    }
    .navWrapperMobile a {
        width: 100%;
        text-align: center;
        text-decoration: none;
    }
    .navWrapperMobile a li {
        list-style-type: none;
        color: white;
        font-size: 22px;
        font-weight: 800;
    }
    .navWrapperMobile a li:hover {
        background: white;
        color: rgb(100, 23, 100);
    }
    .main {
        width: 100%;
    }
    .mobileNav .fa-bars {
        font-size: 30px;
        margin-top: 5px;
    }
    .fa-bars:hover {
        cursor: pointer;
    }
    .authButtons {
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;
    }
    .authButtons a {
        max-width: 100%;
        margin: 0px;
        padding: 0px;
    }
}