    .artistsWrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .singleArtist {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .singleArtist a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .singleArtist a div p {
        font-size: 32px;
        font-family: inherit;
    }
    
    .artistImg {
        width: 100%;
    }
    
    @media screen and (min-width:750px) {
        .artistImg:hover {
            opacity: 0.2;
            cursor: pointer;
        }
        .imgWrapper:hover+.artistInfo {
            display: flex;
            cursor: pointer;
            transform: translateY(270px);
            animation: moveUp 0.5s forwards;
            pointer-events: none;
        }
        .artistInfo {
            display: none;
            flex-direction: column;
            align-items: center;
            color: white;
            position: absolute;
            top: 300px;
            justify-content: center;
            font-weight: 700;
            z-index: 7;
        }
        @keyframes moveUp {
            form {
                top: 1px;
            }
            to {
                top: -140px;
            }
        }
    }
    
    @media screen and (max-width:750px) {
        .artistsWrapper {
            flex-direction: column;
        }
        .artistInfo {
            display: block;
            color: white;
            text-decoration: none;
        }
        .singleArtist a {
            text-decoration: none;
        }
        .singleArtist {
            width: 70%;
            margin-bottom: 50px;
        }
        .imgWrapper {
            margin-bottom: 0px;
        }
        .artistInfo p {
            margin: 0px;
        }
    }