.blogWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.singleArticle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.blogImgWrapper {
    width: 100%;
    margin-right: 50px;
}

.blogImgWrapper img {
    width: 100%;
}

.blogDescWrapper {
    width: 100%;
    height: 190px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.articleDescription {
    text-overflow: ellipsis;
}

.readMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.readMore a {
    width: 100px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border: solid 1px rgb(152, 32, 231);
    background: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
}

.readMore a:hover {
    background: rgb(152, 32, 231);
    transition: 0.5s;
}

@media screen and (max-width: 750px) {
    .singleArticle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .blogImgWrapper {
        margin-right: 0px;
    }
}