.creativeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.singleCreative {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.creativeImgWrapper {
    width: 50%;
}

.creativeArtistrtistInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

.creativeArtistDesc {
    margin-top: 0px;
}

.creativeImgWrapper {
    width: 40%;
}

.creativeArtistImg {
    width: 100%;
}

.creativeArtistName,
.creativeArtistArtwork {
    color: white;
    margin-bottom: 0px;
}

.artworkContainer {
    display: flex;
    flex-direction: column;
}

.creatorImagesContainer {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}


/* .creatorImgsWrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
} */


/* .creatorImg {
    width: 70px;
    height: 100%;
    height: inherit;
    transition: 0.3s;
    border: none;
    border-radius: 50%;
} */


/* .creatorImg:hover {
    flex: 1 1 50%;
    width: 250%;
    height: 200%;
    z-index: 9;
    transform: scale(3);
    border-radius: 0px;
    transition: 0.9s;
    transition: border-radius 0.4s;
} */

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
}

.box>img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

@media screen and (min-width:750px) {
    .box:hover {
        flex: 1 1 50%;
    }
    .box:hover>img {
        width: 100%;
        height: 100%;
    }
}

.creativesAdminButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.creativesEditButton,
.creativesDeleteButton {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    width: 100px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 14px;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
}

.creativesEditButton:hover,
.creativesDeleteButton:hover {
    background: rgb(141, 132, 132);
}

@media screen and (max-width:750px) {
    .singleCreative {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .creativeArtistrtistInfo {
        width: 100%;
    }
    .artworkContainer {
        width: 100%;
    }
    .creativeImgWrapper {
        width: 100%;
    }
    .creatorImagesContainer {
        width: 100%;
    }
    .box {
        display: flex;
    }
    .box>img {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    .box:hover {
        pointer-events: none;
    }
}