.releasesWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.singleRelease {
    width: 30%;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.singleRelease a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.releaseImg {
    width: 100%;
}

.releaseInfo {
    display: flex;
    align-items: center;
    color: white;
    position: absolute;
    top: -60px;
    justify-content: center;
    font-weight: 700;
    z-index: 7;
    opacity: 0;
    transition: 2s ease;
}

.beforeElement::before {
    content: "-";
    color: white;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

.releaseImg:hover {
    opacity: 0.2;
    cursor: pointer;
}

@media screen and (min-width: 750px) {
    .imgWrapper:hover+.releaseInfo {
        display: flex;
        cursor: pointer;
        animation: appearSlowly 0.5s forwards;
        pointer-events: none;
        opacity: 1;
        transition: 2s ease;
    }
}

@media screen and (max-width: 750px) {
    html {
        width: 100vw;
    }
    header {
        width: 100%;
        position: relative;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .releasesWrapper {
        flex-direction: column;
    }
    .releaseInfo {
        top: 100px;
        opacity: 1;
        flex-direction: column;
        font-size: 8px;
        margin-top: 10px;
    }
    .beforeElement::before {
        content: '';
    }
    .beforeElement {
        margin-left: -30px;
    }
}